html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
dialog,
div,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}

ul,
ol {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/***************************/

:root {
  --noir: rgb(2, 2, 3);
  --rouge: rgb(255, 1, 1);
  --gris-d3: rgb(40, 45, 48);
  --font-default: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-default);
}

.bg-noir {
  background-color: var(--noir);
  color: #fff;
}
